<div class="page-header">
  <h1>Links</h1>
</div>

<!-- link to add new social media account item -->
<p data-toggle="modal" data-target="#addAnaFormModal">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
   Add a link
</p>
<%= render "shared/error", object: @sna %>
<%= render "modal", object: @sna %>

<%# Links list %>
<div id="snaThumbnails">
  <%= render partial: "account_panel", collection: @accounts, as: :account if @accounts.present? %>
</div>
