<% flash.each do |name, msg| %>
  <% prefix = "alert alert-"
     suffix = " alert-dismissible"
     alettname = "alert alert-success" if name == "success"
     alettname = "alert alert-info" if name == "notice"
     alettname = "alert alert-warning" if name == "alert"
     alettname = "alert alert-danger" if name == "error" 
     %>

  <%= content_tag :div, class: alettname, role: 'alert' do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    msg
  <% end %>
<% end %>
