<% flash.each do |key, value| %>
  <%= content_tag :div, class: "alert alert-#{key} alert-dismissible" , role: 'alert' do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= value %>
  <% end %>
<% end %>
