<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <% 
      first_img = @visible_carousels.first
      num = @visible_carousels.size
      i = 0
  %>
  <ol class="carousel-indicators">
    <% while i < num %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>">
      </li>
      <% i += 1 %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @visible_carousels.each do |img| %>
      <div class="item <%= "active" if img.id == first_img.id %>">
        <img src="<%= img.url %>">
      </div>
    <% end %>
  </div>

</div>
