<% @showcases.each do |showcase| %>
  <div class="row showcase-header">
    <div class="col-sm-4">
      <p><b><%= showcase.title %></b></p>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2 pull-right">
      <p><small><%= link_to "More", root_path %></small></p>
    </div>
  </div>
  
  <div class="row showcase-body">
    <div class="col-xs-12 col-sm-4 showbox-feature">
      <a href="#" class="thumbnail">
        <%= image_tag showcase.feature_img, alt: "showcase-feature" %>
      </a>
    </div>
    <% showcase_imgs = showcase.images[0..7] %>

    <% showcase_imgs.each do |img| %>
      <div class="col-xs-12 col-sm-2">
        <a href="#" class="thumbnail">
          <%= image_tag img.url, alt: "showcase-img" %>
        </a>
      </div>
    <% end %>
  </div>
  <hr>

<% end %>
