<div class="container">
  <div class="row col-xs-12" id="landing-carousel" >
    <%= render partial: "carousel" %>
  </div>
  <div class="row col-xs-12">
    <%= render partial: "showcase" %>
  </div>
</div>