<div class="row landing-carousel" >
  <%= render partial: "carousel" %>
</div>

<div class="row info-banner">
  <%= render partial: "info_banner" %>
</div>

<div class="row showcase">
  <%= render partial: "showcase" %>
</div>
