<div class="container msg_panel">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Welcome to The Duke Girls!</h4>
          <hr>
          <p><em>Sorry, the page cannot be found.<br />
           Feel free to contact us.</em></p>
          <br>
          <p>
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              Go back to The Duke Girls
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>