<div class="row showcase">
  <div class="col-xs-12 col-sm-2">
    <div class="page-header">
      <h4><%= @showcase.title %></h4>
    </div>
    <p><%= @showcase.subtitle %></p>
  </div>
  <div class="col-xs-12 col-sm-10 product-box">
    <% @products.each do |p| %>
      <div class="col-xs-12 col-sm-3 product">
      <%= link_to product_path(p), class:"thumbnail" do %>
          <%= image_tag p.image_url,  class: "img-responsive" %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

