<div class="page-header">
  <h1>Showcases </h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Admin", admin_index_path %></li>
  <li><%= link_to "Showcases", admin_showcases_path %></li>
  <li class="active"><%= @showcase.title %></li>
</ol>

<%= render "admin/products/product_list", products: @products %>
