<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <p><%= @showcase.title %></p>
    </div>

    <div class="row showcase-body">
      <% @showcase.products.each do |p| %>
        <div class="col-xs-12 col-md-2">
          <%= link_to product_path(p), class:"thumbnail" do %>
            <%= image_tag p.image_url,  class: "img-responsive", alt: "Responsive image" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>