<div class="row asin-lookup-bar">
  <%= form_tag("/admin/look_up_item", method: "get",
                                      class: "form-inline col-xs-12 col-sm-4 pull-right",
                                      id: "lookup-item-on-amazon-form", 
                                      remote: true) do %>
    <div class="form-group">
      <%= search_field_tag(:asin, nil, placeholder: "Enter ASIN", class: "form-control") %>
      <%= submit_tag "Search", class: "btn btn-default" %>
      <p id="lookup-item-on-amazon-msg" class="hide"></p>
    </div>
  <% end %>
</div>
<div class="row" id="returned_items"></div>
