<div class="page-header">
  <h1>Products <span class="badge"><%= @products.length %></span></h1>
</div>

<div class="row">
  <p class="pull-left"><span class="label label-warning">category</span> <span class="label label-info">showcase</span></p>
  <p class="pull-right">
  <%= link_to new_admin_product_path do %>
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a product
  <% end %>
  </p>
</div>

<%= render 'product_list', products: @products %>

