<div class="page-header">
  <h1>Products <span class="badge"><%= @products_amount %></span></h1>
</div>

<div class="row">
  <p class="pull-left"><span class="label label-warning">category</span> <span class="label label-info">showcase</span></p>
  <ul class="pull-right admin-product-controls">
    <li id="admin-update-imgs" data-update-url=<%= admin_update_imgs_via_amazon_path %>>
      <a><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update images</a></li>
  <%= link_to new_admin_product_path do %>
    <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a product</li>
  <% end %>
  </p>
</div>

<%= render 'product_list', products: @products %>
