<div class="container msg_panel">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Welcome to The Duke Girls!</h4>
          <hr>
          <p><em><%= @message %></em></p>
          <br>
          <p><%= link_to 'Check out The Duke Girls', root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
