<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
  <%= link_to_display_article_image_tag article, blog_path(article), :thumb => true  %>

  <h3><%= link_to_text_truncate article.title, 40, blog_path(article) %><br>
    <small><%= link_to_text_truncate article.subtitle, 60, blog_path(article)  %></small>
  </h3>
  <!-- <p><%#= strip_tags article.content.truncate(100, :separator => " ",omission: '...') %></p> -->
</div>
