<div class="col-xs-12 col-sm-6 col-md-4 blog-article-thumbnail grid-item">
  <div class="thumbnail blog-article-thumbnail-title">
    <%= link_to_display_article_image_tag article, article.title, blog_path(article) %>

    <div class="caption">
      <h3>
        <%= link_to_text_truncate article.title, 50, blog_path(article) %><br>
        <small><%= link_to_text_truncate article.subtitle, 70, blog_path(article)  %></small>
      </h3>
      <p><%= strip_tags article.content.truncate(300, :separator => " ",omission: '...') %></p>
    </div>
  </div>
</div>
