<div class="hidden-xs col-sm-3 blog-side-nav">
  <ul>
    <h4>Dear Duke Girls</h4>
    <p> We enjoy sharing thoughts and ideas. We believe that girls can know just as much about Duke basketball as boys do. This is our space!</p>
  </ul>
  <ul>
    <h4>For Our Duke Girls</h4>
    <% Article.latest_articles.each do |p| %>
      <li><%= link_to p.title, blog_path(p.slug) %></li>
    <% end %>
  </ul>
</div>
