<div class="hidden-xs col-sm-3 blog-side-nav">
  <div class="nav-row"> 
    <div class="heading">
      <p>Dear Duke Girls<p>
    </div> 
    <div class="list">
      <p>We enjoy sharing thoughts and ideas. We believe that girls can know just as much about Duke basketball as boys do. This is our space!</p>
    </div>
  </div>

  <div class="nav-row">
    <div class="heading">
      <p>For Our Duke Girls</p>
    </div>
    <div class="list">
      <% Article.recent_articles.each do |article| %>
        <div class="article-link">
          <%= link_to_display_image_tag article, blog_path(article), :thumb => true, :class => "article-image"  %>
          <p><%= link_to article.title, blog_path(article.slug) %></p>
        </div> 
      <% end %> 
    </div>
  </div>
</div>
