@import "stylebase";
@import "bootstrap";
// views/admin/index.html.erb

a { color: $green; }
a:hover { color: $pink; }
body { background-color: #F8F8F8; }

.admin-manage-box{
  background-color: white;
  border: 8px solid $gray-lighter;
  border-radius: 16px;
  padding: 10px;
  margin: 20px;
  h4 {
    padding-left: 15px;
  }
  hr {
    margin-top: 0;
  }
}

.asin-lookup-bar{
  min-height: 60px;
  margin: 20px;
  padding: 10px;
}

.showcase-list, .category-list{
  margin-top: 50px;
}