@import "stylebase";
@import "shared/admin_sidemenu";
$grid-gutter-width: 20px;
@import "bootstrap";
@import "shared/pagination";
// views/admin/index.html.erb

body {
  padding-top: 70px;
  background-color: white;
}

.asin-lookup-bar{
  // border-bottom: 1px solid $gray-lighter;
  min-height: 60px;
  margin: 20px;
  padding: 10px;
}

.invisible_thumbnail {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

ul, menu, dir {
  -webkit-padding-start: 0;
}

.navbar-default {
  opacity: 0.8;
  background: #E91E63;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #42A5F5;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background: #42A5F5;
}

.navbar-default .navbar-brand {
  color: white;
}

//dropmenu open
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: #E91E63;
  color: white;
}

.dropdown-menu {
  background: #F8BBD0;
  li > a:hover, .dropdown-menu > li > a:focus {
    background: #42A5F5;
  }
}
