@import "bootstrap-sprockets";
$link-color: #000;
$link-hover-color: lighten($link-color, 70%);
$thumbnail-padding: 0;
$duke-blue: #013088;

@import "bootstrap";
@import "welcome.scss";
@import "layout.scss";


