body {
  background-color: $bg-pink;
  a { 
    color: $gray-darker;
    border-bottom: 1px solid white;
  }
  a:hover { 
    color: $gray;
    border-bottom-color: $base-pink;
  }
  a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: $gray-light;
  }
  .container {
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    background-color: white;
    .admin_link {
      margin: 15px;
      li { display: inline-block; }
    }
    .nav-bar {
      @include margin-top-bottom(30px);
      li {
        display: inline-block;
        text-transform: uppercase;
      }
      .logo-wrapper {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          border-bottom: 1px dotted $gray-lighter;;
        }
      }
      .nav-link-bar {
        @include margin-left-right;
        @include padding-left-right(2%);
        @include padding-top-bottom(1%);
        margin-bottom: 2%;
        border-bottom: $border-solid-gray-light;
        ul { 
          text-align: center;
          margin:0;
          padding: 0;
          @include padding-top-bottom(1%);
        }
        li {
          letter-spacing: 2px;
          font-family: $font-family-base;
          font-weight: $headings-font-weight;
          height: $line-height-base;
          @include padding-left-right(1.5%);
        }
      }
    }
    .page-header p { 
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: $font-family-base;
        font-weight: $headings-font-weight;
        height: $line-height-base;
    }
  }
  .product {
    @include margin-top-bottom(10%);
    @include padding-left-right(4%);
    .btn-buy {
      @include button;
      font-size: 14px;
    }
    .btn-buy:hover {
      background-color: $base-pink;
      color: white;
      border: $border-solid-white;
    }
    p { margin-top: 10%;}
  }
  .subscribe {
    @include padding-top-bottom;
    @include margin-top-bottom(4%);
    text-align: center;
    min-height: 150px;
    background-color: $base-pink;
    color: white;
  }

  .msg_panel {
    margin-top: 8%;
    margin-bottom: 8%;
    .panel {
      padding-left: 2%;
      padding-right: 2%;
    }
  }
}

footer {
  .footer-logo {
    padding-bottom: 2%;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer-links {
    @include padding-top-bottom(2%);
    border-top: $border-solid;
    border-bottom: $border-solid;
    .col-sm-4:not(:last-child) {
      border-right: $border-solid;
    }
  }
  p {
    text-transform: uppercase;
  }
  li {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: $font-family-base;
    font-weight: $headings-font-weight;
    list-style-type: none;
  }
  .copy-right {
    padding-bottom: 4%;
    p { padding-top: 2%; }
  }
}
