body {
  background-color: $bg-pink;
  a { 
    color: $gray-darker;
    border-bottom: 1px solid white;
  }
  a:hover { 
    color: $gray;
    // text-decoration: underline;
    border-bottom-color: $base-pink;
  }

  .container {
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    background-color: white;
    .admin_link {
      margin: 15px;
      li { display: inline-block; }
    }
    .nav-bar {
      li { 
        display: inline-block;
        text-transform: uppercase;
      }
      .logo-wrapper {
        text-align: center;
        margin-right: 20px;
      }
      .pull-right {
        margin-top: 40px;
        margin-right: 40px;
        .navbar-link {
          letter-spacing: 0.5px;
          font-family: $font-family-base;
          font-weight: $headings-font-weight;
          padding: 15px 20px 10px 20px;
          height: $line-height-base;
        }
      }
    }

    .category_nav {
      margin-right: 20px;
      margin-left: 20px;
      li {
        text-transform: uppercase;
        display: inline-block; 
        letter-spacing: 0.5px;
        font-family: $font-family-base;
        font-weight: $headings-font-weight;
        padding: 15px 15px 10px 0px;
        height: $line-height-base;
      }
    }
    .page-header p { 
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: $font-family-base;
        font-weight: $headings-font-weight;
        height: $line-height-base;
    }
  }
}

.subscribe {
  @include padding-top-bottom;
  @include margin-top-bottom(4%);
  text-align: center;
  min-height: 150px;
  background-color: $base-pink;
  color: white;
}

footer {
  .footer-logo {
    padding-bottom: 2%;
    img[alt="Thedukegirls"] {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer-links {
    @include padding-top-bottom(2%);
    border-top: $border-solid;
    border-bottom: $border-solid;
    .col-sm-4:not(:last-child) {
      border-right: $border-solid;
    }
  }
  p {
    text-transform: uppercase;
  }
  li {
    font-size: 12px;
    letter-spacing: 0.5px;
    font-family: $font-family-base;
    font-weight: $headings-font-weight;
    list-style-type: none;
  }
  .copy-right {
    padding-bottom: 4%;
    p { padding-top: 2%; }
  }
}
