$font-family-base: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$link-hover-decoration: none;
$bg-pink: #fdf8fa;
$base-pink: #f48db0;
$gray-light: #777;
$gray-lighter: #eee;
$border-solid: 1px solid #e5e5e5;
$border-solid-white: 1px solid white;
$border-solid-gray-light: 1px solid $gray-light;
$border-solid-gray-lighter: 1px solid $gray-lighter;

@mixin selection-color {
  background-color: $base-pink;
  color: white;
}

::selection {
  @include selection-color;
}

::-moz-selection {
  @include selection-color;
}

@mixin button($color: white) { 
  font-size: 12px;
  @include padding-top-bottom(10px);
  @include padding-left-right(12px);
  background-color: $color;
  border: $border-solid-gray-light;
  border-radius: 5px;
}

@mixin margin-top-bottom($height: 20px) {
  margin-top: $height;
  margin-bottom: $height;
}

@mixin margin-left-right($width: 3%) {
  margin-left: $width;
  margin-right: $width;
}

@mixin padding-top-bottom($height: 5%) {
  padding-top: $height;
  padding-bottom: $height;
}
@mixin padding-left-right($width: 5%) {
  padding-left: $width;
  padding-right: $width;
}