$font-family-base: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$link-hover-decoration: none;
$header-pink: #fdeaf3;
$bg-pink: #fdf8fa;
$base-pink: #f48db0;
$light-pink: #F8BBD0;
$gray-light: #777;
$gray-lighter: #eee;
$gray-lighter-2: #ccc;
$border-solid: 1px solid #e5e5e5;
$border-solid-white: 1px solid white;
$border-solid-gray-light: 1px solid $gray-light;
$border-solid-gray-lighter: 1px solid $gray-lighter;
$border-dotted-gray-lighter: 1px dotted $gray-lighter;
$border-dotted-gray-light: 1px dotted $gray-light;
$border-dotted-gray-light: 1px dotted $base-pink;
$border-dotted-white: 1px dotted white;

@mixin selection-color {
  background-color: $base-pink;
  color: white;
}

::selection {
  @include selection-color;
}

::-moz-selection {
  @include selection-color;
}

@mixin button($bg-color: white) { 
  font-size: 12px;
  @include padding-top-bottom(10px);
  @include padding-left-right(12px);
  background-color: $bg-color;
  border: $border-solid-gray-light;
  border-radius: 5px;
}

@mixin button-pink {
  @include button($base-pink);
  color: white;
  border: $border-dotted-gray-light;
  font-size: 16px;
  @include padding-top-bottom(6px);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  border-radius: 2px;
}

@mixin margin-top-bottom($height: 20px) {
  margin-top: $height;
  margin-bottom: $height;
}

@mixin margin-left-right($width: 3%) {
  margin-left: $width;
  margin-right: $width;
}

@mixin padding-top-bottom($height: 5%) {
  padding-top: $height;
  padding-bottom: $height;
}
@mixin padding-left-right($width: 5%) {
  padding-left: $width;
  padding-right: $width;
}
