.landing-carousel .carousel img {
  // position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height:auto;
  vertical-align : middle;
}
.landing-carousel {
  .carousel-inner { 
  max-height: 480px;
  }
}

.showcase {
  @include margin-top-bottom(30px);
  @include margin-left-right;
  @include padding-left-right(2%);
  // border-left: 1px solid $gray-light;
}

.showcase-header {
  @include margin-top-bottom(30px);
  @include padding-top-bottom(1%);
  // background: -webkit-linear-gradient(left top, #f6a4c0, #F8BBD0);
  // background-color: $base-pink;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  a { 
    border-bottom: 1px solid $gray-lighter;
  }
  p {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-weight: $headings-font-weight;
    height: $line-height-base;
  }
  .more-button {
    p { margin-top: 12px; }
    a {
      @include botton;
    }
    a:hover {
      background-color: $bg-pink;
      color: $base-pink;
    }
  }
}

.product > a > img:hover {
  opacity: 0.5;
}
