@mixin margin-top-bottom($height: 20px) {
  margin-top: $height;
  margin-bottom: $height;
}

@mixin margin-left-right($width: 5px) {
  margin-left: $width;
  margin-right: $width;
}

@mixin padding-top-bottom($height: 5%) {
  padding-top: $height;
  padding-bottom: $height;
}


.landing-carousel .carousel img {
  // position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height:auto;
  vertical-align : middle;
}
.landing-carousel {
  .carousel-inner { 
  max-height: 620px;
  }
}

.info_banner {
  @include margin-top-bottom(30px);
}

.showcase {
  @include margin-top-bottom;
}

.subscribe {
  @include padding-top-bottom;
  text-align: center;
  min-height: 150px;
  background-color: #FF3399;
  color: white;
}
.showcase-header {
  @include margin-top-bottom(30px);
  @include margin-left-right;
  background-color: $gray-lighter;
  p {
    text-transform: uppercase;
    padding: 20px;
    padding-bottom: 10px;

    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-weight: $headings-font-weight;
    height: $line-height-base;
  }
}

.showcase-body {
  @include margin-left-right(30px);
  img:hover{
    opacity: 0.5;
  }
}

// .showcase-feature {
//   img {
//     min-height: 285px;
//     width: auto;
//   }
// }
