<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <p><%= @category.name %></p>
    </div>
    <% if @products.size == 0 %>
        No products
      </div>
    <% else %>
      <% @products.each do |p| %>
        <div class="col-xs-12 col-md-2">
          <%= link_to product_path(p), class:"thumbnail", target: "_blank" do %>
            <%= image_tag p.image_url,  class: "img-responsive", alt: "Responsive image" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
