<div class="row category">
  <div class="col-xs-12 col-sm-2">
    <div class="page-header">
      <h4><%= @category.name %></h4>
    </div>
    <% if @products.size == 0 %>
      <p>No products</p>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-9 product-box">
    <% @products.each do |p| %>
      <div class="col-xs-12 col-sm-3 product">
      <%= link_to product_path(p), class:"thumbnail" do %>
          <%= image_tag p.image_url,  class: "img-responsive", size: '204x204' %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
