<div class="row category">
  <div class="col-xs-12 col-sm-2">
    <div class="page-header">
      <h4><%= @category.name %></h4>
    </div>
    <% if @products.size == 0 %>
      <p>No products</p>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-10 product-box">
    <div class="row grid">
      <%= render partial: "products/product_thumbnail", collection: @products, as: :product %>
    </div>
  </div>
</div>
