<div class="col-xs-6 col-sm-4 col-md-3 product grid-item">
<%= link_to product_path(product), class:"thumbnail" do %>
    <%= image_tag product.image_url,  class: "img-responsive", alt: product.title %>
<% end %>
</div>